@media (max-width:1024px) {
    .team__list{
        --gap:20px;
    }

    .works__list{
        --gap:20px;
    }

    .services{
        --gap:20px;
    }
}

/* tablet & mobile */
@media (max-width: 868px) {
    /* hide */
    .hide-on-m{
        display: none;
    }

    .show-on-m{
        display: block;
    }
    /*  */

    /* heading */
    .h1-mobile{
        font-size: 4rem;
    }
    
    .h2-mobile{
        font-size: 3.2rem;
    }
    
    .h3-mobile{
        font-size: 2.8rem;
    }
    
    .h4-mobile{
        font-size: 2.4rem;
    }
    
    .h5-mobile{
        font-size: 2rem;
    }
    
    .h6-mobile{
        font-size: 1.6rem;
    }
    /*  */

    /* flex */
    .flex-col-re-m{
        flex-direction:column-reverse;
    }
    .flex-col-m{
        flex-direction:column;
    }

    .justify-center-m{
        justify-content: center;
    }

    .align-center-m{
        align-items: center;
    }

    .order-m-1{
        order: 1;
    }

    .order-m-2{
        order: 2;
    }

    .order-m-3{
        order: 3;
    }
    /*  */

    /*box model */
    .mt-m-40{
        padding-top: 40px;
    }

    .mt-m-36{
        margin-top: 36px;
    }

    .mt-m-77{
        margin-top: 77px;
    }

    .mt-m-34{
        padding-top: 34px;
    }

    .mt-m-22{
        padding-top: 22px;
    }

    .mt-m--27{
        margin-top: -27px;
    }

    .mb-m-39{
        margin-bottom: 39px;
    }

    .mb-m-30{
        margin-bottom: 30px;
    }
    /*  */

    /* home */
    .header{
        padding: 20px 0;
    }

    .logo-img{
        height: 31px;
        width: 45px;
    }

    .logo-start{
        font-size: 3rem;
    }

    /* menu */
    .menus{
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 65px;
        background-color: var(--cl-white-100);
        border-radius: 5px;
        justify-content: unset;
        gap: 0;
        width: 50%;
        height: 100%;
        transform: translateX(100%);
    }

    .menus--active{
        transform: translateX(0);
    }

    .menu__img:hover{
        cursor: pointer;
        opacity: 0.5;
    }

    .menu__item{
        padding: 15px;
        border-bottom:solid 1px white;
    }
    
    .menu__item a{
        color: var(--cl-green-100);
        display: block;
        text-align: center;
    }

    .menu__item:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    /*  */
    
    .welcome__content{
        margin-top: 30px;
    }
    
    .welcome{
        padding-top: 16px;
        padding-bottom: 41px;
    }

    .post{
        margin-top: 60px;
    }

    .post__content{
        margin-top: 30px;
    }
    
    .post__text{
        margin: 20px 0;
    }

    .team__list{
        --gap:20px;
    }

    .team__list{
        justify-content: center;
        margin-top: 41px;
    }

    .footer__container{
        padding: 31px 0;
    }

    .footer__socials{
        padding-bottom: 20px;
    }
    /*  */
    
    /* works */
    .works__list{
        margin-top: 45px;
    }
    /*  */

    /* services */
    .services{
        margin-top: 46px;
        margin-bottom: 68px;
    }
    /*  */

    /* contact */
    .contact{
        margin-top: 39px;
    }

    .contact__map{
        margin-bottom: 21px;
    }

    .contact__list{
        margin-bottom: 59px;
    }   

    .form__mess{
        margin-bottom: 30px;
    }
    /*  */
    @keyframes menu{
        from{
            opacity: 0;
            right: -100%;
        }
        to{
            opacity: 1;
            right: 0;
        }
    }
}

@media (max-width: 568px) {
    .team__list{
        --gap:35px;
    }
}