@media (max-width:1024px) {
    .team__list {
        --gap: 20px;
    }

    .works__list {
        --gap: 20px;
    }

    .services {
        --gap: 20px;
    }

    .team__img {
        max-width: 150px;
    }

    .team__media {
        padding: 0;
    }
}

/* tablet & mobile */
@media (max-width: 868px) {
    /* hide */
    .hide-on-m {
        display: none;
    }

    .show-on-m {
        display: block;
    }

    .show-on-m-f {
        display: flex;
    }
    /*  */

    /* heading */
    .h1-mobile {
        font-size: 4rem;
    }

    .h2-mobile {
        font-size: 3.2rem;
    }

    .h3-mobile {
        font-size: 2.8rem;
    }

    .h4-mobile {
        font-size: 2.4rem;
    }

    .h5-mobile {
        font-size: 2rem;
    }

    .h6-mobile {
        font-size: 1.6rem;
    }

    /*  */

    /* flex */
    .flex-col-re-m {
        flex-direction: column-reverse;
    }

    .flex-col-m {
        flex-direction: column;
    }

    .justify-center-m {
        justify-content: center;
    }

    .align-center-m {
        align-items: center;
    }

    .order-m-1 {
        order: 1;
    }

    .order-m-2 {
        order: 2;
    }

    .order-m-3 {
        order: 3;
    }
    /*  */

    /*  */
    .mg-auto-m {
        margin: auto;
    }

    .mg-m-0 {
        margin: 0;
    }
    /*  */

    /* width height */
    .w-unset-m {
        width: unset;
    }

    .max-width-m {
        max-width: 100%;
    }
    /*  */

    /* home */
    /* header */
    .header {
        padding: 20px 0;
    }

    /* header logo */
    .logo-img {
        height: 31px;
        width: 45px;
        margin-right: 10px;
    }

    .logo-start {
        font-size: 3rem;
    }
    /*  */

    /* menu mobile*/
    .menu__mobile-container {
        position: fixed;
        right: 0;
        top: 0px;
        background-color: var(--cl-green-100);
        transform: translateX(100%);
        z-index: 100;
        max-width: 320px;
    }

    .menu__mobile-container--active {
        transform: translateX(0);
    }

    /* menu__icon */
    .close__container{
        text-align: right;
    }
    
    .icon-close {
        display: inline-block;
        font-size: 25px;
        padding: 25px 0;
        padding-right: 25px;
        color: var(--cl-white-100);
    }

    .menu__icon {
        height: 20px;
    }

    /*  */

    .menu__item {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .menu__item a {
        color: var(--cl-white-100);
        text-align: left;
        padding-left: 15px;
    }

    .menu__item:hover {
        opacity: 0.5;
    }

    /*  */

    /* welcome */
    .welcome__content {
        margin-top: 30px;
        max-width: unset;
    }

    .welcome {
        padding-top: 85px;
        padding-bottom: 41px;
    }

    .partners__list{
        --gap:40px;
    }

    .banner__content{
        padding:0;
    }

    /*  */
    .post {
        margin-top: 60px;
    }

    .post__content {
        margin: 0;
        margin-top: 30px;
        max-width: unset;
    }

    .post__text {
        margin: 20px 0;
    }

    .team__list {
        --gap: 20px;
        margin-top: 41px;
    }

    .footer__container {
        padding: 31px 0;
    }

    .footer__socials {
        padding-bottom: 20px;
    }

    /*  */

    /* works */
    .works__list {
        margin-top: 45px;
    }
    /*  */

    /* services */
    .services {
        margin-top: 46px;
        margin-bottom: 18px;
    }
    /*  */

    /* contact */
    .contact {
        margin-top: 39px;
    }

    .contact__map {
        margin-bottom: 21px;
    }

    .contact__list {
        margin-bottom: 59px;
    }

    .form__mess {
        margin-bottom: 30px;
    }
    /*  */


    /*box model */
    .mt-m-40 {
        padding-top: 40px;
    }

    .mt-m-36 {
        margin-top: 36px;
    }

    .mt-m-77 {
        margin-top: 77px;
    }

    .mt-m-124 {
        margin-top: 124px;
    }

    .mt-m-100 {
        margin-top: 100px;
    }

    .mt-m-22 {
        padding-top: 22px;
    }

    .mt-m--27 {
        margin-top: -27px;
    }

    .mb-m-39 {
        margin-bottom: 39px;
    }

    .mb-m-30 {
        margin-bottom: 30px;
    }

    .mt-m-20{
        margin-top: 20px;
    }
    /*  */

    /*  */
    @keyframes menu {
        from {
            opacity: 0;
            right: -100%;
        }

        to {
            opacity: 1;
            right: 0;
        }
    }
}

@media (max-width: 568px) {
    .team__list {
        --gap: 35px;
    }

    .gap-100 {
        --gap: 100px;
    }
}