/* ---------home--------- */
/* header */
.header{
    padding-top: 35px;
    padding-bottom: 38px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* logo */
.logo-start{
    font-size: 4rem;
    font-weight: 400;
    color: var(--cl-white-100);
    line-height: 1.25;
}

.logo-img{
    width: 70px;
    height: 48.31px;
    margin-right: 18px;
}

/* menu */
.menu__item a{
    color: var(--cl-white-100);
}

.menus{
    gap: 30px;
}

.menu__mobile{
    height: 35px;
    width: 35px;
    display: none;
}
/* end header */

/* main */

/* welcome */
.welcome{
    padding-top: 133px;
    padding-bottom: 83px;
}

.welcome__content{
    margin-top: 41px;
    max-width: 410px;
}

.welcome__heading{
    margin: 15px 0;
}
 /*  */

 /* introduce */
.introduce__content{
    max-width: 411px;
}

.introduce__label{
    color: var(--cl-green-100);
}

.introduce__heading{
    margin: 16px 0;
}

/* partners */
.partners__list{
    margin: 55px 0;
    gap: 52px;
}

.partners__item{
}

.partners__img{
    height: 50px;
}
/*  */

/* post */
.post{
    margin-top: 73px;
}

.post__content{
    max-width: 461px;
}

.post__text{
    margin: 16px 0;
    color: var(--cl-dark-50);
}

/* team */
.team__list{
    margin-top: 45px;
    margin-bottom: 10px;
}

.team__item{
    margin-bottom: 35px;
}

.team__container{
    padding: 20px 39px 19px 38px;
}

.team__media{
    padding: 0 13.5px;
}

.team__img{
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 1px var(--cl-dark-100);
    max-width: 175px;
    padding: 15px 20px 0 20px;
    margin: 0 auto;
}

.team__name{
    padding-top: 19px;
    padding-bottom: 17px;
}

/* footer */
.footer__container{
    padding-top: 51px;
    padding-bottom: 49px;
}

.footer__socials{
    gap: 20px;
}

.footer__img{
    height: 18px;
}

.footer__content{
    color: var(--cl-white-100);
}
/* --------end home--------- */

/* --------portfolio--------- */

/* works */
.works__list{
    margin-top: 82px;
    margin-bottom: 8px;
}

.works__list{
    --gap: 55px;
}

.works__img{
    border: 1.5px solid #000000;
    border-radius: 5px;
}

.works__item{
    padding-bottom: 55px;
}
/*  */

/* services */
.services{
    --gap: 105px;
    margin-top: 78px;
    margin-bottom: 85px;
}

.services__item{
    padding: 46px 30px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.services__price p{
    color: var(--cl-dark-50);
    margin-left: 9px;
}

.services__content{
    color: var(--cl-dark-50);
    max-width: 279px;
    margin-top: 10px;
}

.services__checks{
    max-width: 279px;
    margin-top: 55px;
}

.services__check{
    margin-top: 17px;
}

.services__check img{
    height: 13.28px;
    width: 17.19px;
    margin-right: 14px;
}
/*  */

/* contact */
.contact{
    margin-top: 67px;
    --gap:31px;
}

.contact__map{
    object-fit: cover;
    height: 100%;
}

.contact__list{
    margin-bottom: 93px;
}

.form{
    height: 100%;
}

.form__input{
    margin-top: 16px;
    margin-bottom: 21px;
    border-radius: 5px;
    background: #EEEEEE;
    border: 1px solid #000000;
    padding: 0 10px;
}

.input-height{
    height: 38px;
}
/*  */

/*  */
.overlay{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    bottom: 0;
    animation:menu ease-in-out .2s;
}
/*  */

/* box model */
.mt-48{
    margin-top: 48px;
}

.mt-25{
    margin-top: 25px;
}

.mt-160{
    margin-top: 160px;
}

.mt-35{
    margin-top: 35px;
}

.ml-a{
    margin-left: auto;
}

.mr-a{
    margin-right: auto;
}

.mb-100{
    margin-bottom: 100px;
}

.pr-20{
    padding-right: 20px;
}

.pl-20{
    padding-left: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-54{
    margin-bottom: 54px;
}

.mt-68{
    margin-top: 68px;
}

.mt-30{
    padding-top: 30px;
}

.mt-60{
    padding-top: 60px;
}

.mt-102{
    padding-top: 102px;
}
/*  */

/* d-block */
.d-block{
    display: block;
}